<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="script_font" value="Courier New"/>
    <add key="script_font_size" value="10"/>
    <add key="fighter_directory" value=""/>
    <add key="work_directory" value=""/>
  </appSettings>
</configuration>